@page "/"
@using Vocappulary.Persistence.Services
@using Vocappulary.Persistence.Data
@using Vocappulary.ViewModels

@inherits ContextComponent<AdministrationViewModel>
<EditForm Model="@ViewModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="form-group">
            <label for="phrase">Phrase:</label>
            <InputText type="text" class="form-control" id="phrase" @bind-Value="ViewModel.Phrase" />
        </div>
        <br />
        <div class="form-group">
            <label for="translation">Translation:</label>
            <input type="text" class="form-control" id="translation" @bind-value="ViewModel.Translation" />
        </div>

        <br />
        <button class="btn btn-primary" type="submit" @onclick="ViewModel.AddNewLearnItem">Save</button>

        <br />

        <div class="form-group">
            <label>Learn items:</label>
            <table class="table table-striped">
                <tbody>
                    @foreach (var entry in ViewModel.LearnItems)
                    {
                        <tr>
                            <td>@entry.Id</td>
                            <td>@entry.Phrase</td>
                            <td>@entry.Translation</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</EditForm>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadLearnItems();
        await base.OnInitializedAsync();
    }
}